network:
  ethernets:
    eno1:
      dhcp4: false
      addresses: [{{ ip_openstack }}/24]
      nameservers:
        addresses: [{{ ip_gateway }}]
      routes:
      - to: default
        via: {{ ip_gateway }}
    eno2:
      dhcp4: false
      addresses: [{{ ip_ferme_openstack }}]
      nameservers:
        addresses: [{{ ip_gateway }}]
  version: 2

